@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');

* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   scroll-behavior: smooth;
}

:root {
   --black: #212121;
   --gray: #9095A0FF;
   --white: #FFFFFF;
   --darkturquoise: #027E79;
   --turquoise: #00E0F5;
   --pink: #E500FF;
   --darkpink: #A700CC;
}



body {
   background-color: var(--black);
   color: var(--white);
   font-family: 'Roboto';
}

.about-us {
   margin-top: 100px;
   width: 130ch;
   margin: 0 auto;
}

.about-us .container {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
}

.about-us .box {
   display: flex;
   flex-direction: column;
   align-items: center;
   border: 1px solid transparent;
}

.about-us .left,
.about-us .right {
   display: flex;
   align-items: center;
}

.about-us .leftBox {
   width: 50px;
   height: 50px;
   margin-right: 20px;
   background-color: #00E0F5;
}

.about-us .rightBox {
   width: 50px;
   height: 50px;
   margin-right: 20px;
   background-color: #A700CC;
}

.text-right, .text-left {
   margin-top: 15px;
}

.text-left p {
   max-width: 400px;
}

.text-right p {
   max-width: 555px;
}

#logo-header {
   display: flex;
   align-items: center;
   width: 12%; /* Ajusta el ancho del contenedor al 10% del nav */
   height: 100%;
}

ul {
   list-style: none;
   padding: 0; /* Elimina el relleno predeterminado de la lista */
}

.navbar-right {
   display: flex; /* Hace que los elementos de la lista se alineen horizontalmente */
   justify-content: flex-end; /* Alinea los elementos de la lista a la derecha */
   margin: 0; /* Elimina el margen predeterminado de la lista */
   padding: 0; /* Elimina el relleno predeterminado de la lista */
}

.navbar-right li {
   margin-left: 20px; /* Agrega un margen a la izquierda de cada elemento de la lista */
   display: flex; /* Alinea verticalmente el texto con los íconos, si los hubiera */
   align-items: center;
}

.navbar-default {
   border-color: transparent;
   background-color: #222;
}

/* Estilo para el nav (navbar) */
.navbar {
   font-weight: 700; /* Grosor de fuente para el nav */
   background-color: #202020FF; /* Color de fondo del nav */
   padding: 10px; /* Espaciado del nav */
}

/* Estilo para los elementos de la lista dentro del nav */
.navbar .nav li {
   font-size: 12px; /* Tamaño de fuente más pequeño para los elementos de la lista */
}

.navbar-default .nav li a {
   font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
   font-weight: 400;
   letter-spacing: 1px;
   color: #fff;
   text-decoration: none; /* Elimina el subrayado de los enlaces */
}

.navbar-default .nav li a:hover {
   text-decoration: underline; /* Agrega subrayado al pasar el mouse por encima de los enlaces */
   text-align: center;
}



.hero {
   display: flex;
   flex-direction: column;
   background-attachment: scroll;
   background-image: url(assets/img/hero-image.jpg);
   background-position: center center;
   background-repeat: no-repeat;
   background-size: cover;
   opacity: 0.9;
}

#section-hero .intro-text {
   text-align: center;
   color: #fff;
   padding-top: 100px;
   padding-bottom: 70px;
   align-items: center;
   
}

@media(min-width:768px) {
   #section-hero .intro-text {
       padding-top: 300px;
       padding-bottom: 200px;
   }

   #section-hero .intro-text .intro-lead-in {
       margin-bottom: 25px;
       font-family: "Droid Serif","Helvetica Neue",Helvetica,Arial,sans-serif;
       font-size: 40px;
       font-style: italic;
       line-height: 40px;
   }

   #section-hero .intro-text .intro-heading {
       margin-bottom: 50px;
       text-transform: uppercase;
       font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
       font-size: 75px;
       font-weight: 700;
       line-height: 75px;
   }
}
/* 
#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("/assets/hero-image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
*/


.our-team {

   width: 130ch;
   margin: 0 auto;
}

.our-team .title {
   margin-top: 100px;
   text-align: center;
}

.title p {
   color: var(--gray);
   padding: 15px 150px;
}


.team-cards {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-template-rows: repeat(2, 1fr);
   gap: 90px;
}

.team-cards>div:nth-child(odd) .member-img {
   background-color: var(--pink);
}

.team-cards>div:nth-child(even) .member-img {
   background-color: var(--turquoise);
}

.member-img {
   border-top-right-radius: 10px;
   border-top-left-radius: 10px;

   display: flex;
   justify-content: center;
   align-items: center;
}

.member-img img {
   width: auto;
   height: 20vh;
   padding: 30px 0px 0px 0px;
}


.member-description {
   height: 200px;
   padding: 14px 10px;
   border-bottom-left-radius: 10px;
   border-bottom-right-radius: 10px;
   background-color: #171A1FFF;

   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;

}

.member-description h3 {
   font-size: 16px;
   font-weight: 600;

   margin: 10px 0px 20px 0px;

}

.member-description p {
   color: var(--gray);
   margin-bottom: 5px;
}

.member-description h4 {
   font-weight: 300;
   color: var(--turquoise);
   margin-bottom: 20px;
}


svg path:hover {
   fill: #fff;
   transition: 0.3s ease-in-out;
}


@media screen and (max-width: 768px) {
   .title p {
      padding: 15px 50px;
   }

   .our-team {
      width: 600px;
   }

   .team-cards {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, 1fr);
   }
}

@media screen and (max-width: 576px) {
   .our-team {
      width: 400px;
   }

   .team-cards {
      width: 100%;
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(6, 1fr);
   }
}

.service {
   margin-top: 100px;
   margin-bottom: 100px;
}

.max-width {
   max-width: 1300px;
   padding: 0 45px;
   margin: auto;
}

.max-width h1 {
   text-align: center;
   position: relative;
   font-size: 50px;
   font-weight: 500;
   margin-bottom: 60px;
   padding-bottom: 20px;
}

.content {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;

}

.card {
   padding: 50px 25px;
   width: calc(26% - 20px);
   border-radius: 6px;
   background-color: #171A1FFF;
   text-align: center;
}

.box h3 {
   color: #DEE1E6FF;
   margin-top: 20px;
   margin-bottom: 20px;
}

.box p {
   color: #9095A0FF;
}


.icon-1 {
   width: 80px;
   height: 80px;
   background-color: #00A99BF2;
   border-radius: 40px;
   margin:0px auto;
   display: grid;
   place-content: center
}

.icon-2 {
   width: 80px;
   height: 80px;
   background-color: #E600FFCF;
   border-radius: 40px;
   margin:0px auto;
   display: grid;
   place-content: center
}

.icon-3 {
   width: 80px;
   height: 80px;
   background-color: #7F7F7FFF;
   border-radius: 40px;
   margin: 0px auto;
   display: grid;
   place-content: center;
}


.icon-4 {
   width: 80px;
   height: 80px;
   background-color: #19C0E1DB;
   border-radius: 40px;
   margin:0px auto;
   display: grid;
   place-content: center
}


.icons {
   width: 56px;
   height: 57px;
   display: grid;
   place-content: center;
}