@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   scroll-behavior: smooth;
}

:root {
   --black: #212121;
   --gray: #9095A0FF;
   --white: #FFFFFF;
   --darkturquoise: #027E79;
   --turquoise: #00E0F5;
   --pink: #E500FF;
   --darkpink: #A700CC;
}



body {
   background-color: var(--black);
   color: var(--white);
   font-family: 'Roboto', sans-serif;
}

body, html {
   height: 100%;
   margin: 0;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #000000;
   color: white;
}

.container {
   display: grid;
   grid-template-columns: 1fr 1fr; 
   gap: 20px;
   justify-items: center;
   width: 80%; 
}

.box {
   display: flex;
   flex-direction: column;
   align-items: center;
   border: 1px solid transparent; 
}

.left, .right {
   display: flex;
   align-items: center;
}

.leftBox {
   width: 50px;
   height: 50px;
   margin-right: 20px; 
   background: #333;
}

.rightBox {
   width: 50px;
   height: 50px;
   margin-right: 20px; 
   background: #333;
}


.leftBox {
   background-color: #00E0F5;
}

.rightBox {
   background-color: #A700CC;
}

.tittle h1 {
   display: flex;
   flex-direction: column;
   max-width: 200px; 
}

.tittle h2 {
   display: flex;
   flex-direction: column;
   max-width: 300px; 
}    

.text p {
   max-width: 400px;
}

.text {
   margin-top: 10px; 
}
/* 
#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("/assets/hero-image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
*/